<?xml version="1.0"?>
<robot name="mazebot" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Import all necessary files -->
  <xacro:include filename="$(find mazebot_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find mazebot_description)/urdf/inertial_macros.xacro" />
  <xacro:include filename="$(find mazebot_description)/urdf/base.xacro" />
  <xacro:include filename="$(find mazebot_description)/urdf/camera.xacro" />
  <xacro:include filename="$(find mazebot_description)/urdf/gazebo.xacro" />
</robot>
